article{
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 200px;

  }
  #vision{
    background-color: whitesmoke;
  }
  #mision{
    background-color: crimson;
  }
  #objetivo{
    background-color: whitesmoke;
  }
  p{
    text-align: justify;
    font-size: 50px;
  }
  h2{
    text-align: center;
  }