article{
    padding: 5px;
    text-align: center;
    width: 100%;
  }
  #vision{
    background-color: whitesmoke;
  }
  #mision{
    background-color: crimson;
  }
  #objetivo{
    background-color: whitesmoke;
  }
  p{
    text-align: justify;
  }
  h2{
    text-align: center;
  }
  
  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    margin: 15px;
}